body
{
  font-family: 'Times New Roman', Times, serif;
}
#top-div
{
  background: linear-gradient(to right,#FC466B,#3F5EFB);
  text-align: center;
  padding: 2vw;
  font-size: 7vw;
  color: white;
}

form
{
  height: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#heading-line
{
  width: 100%;
}

#number-input input
{
  height: 9vw;
  width: 40vw;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 2.9vw;
  outline: none;
  opacity: 0.8;
  box-shadow: 0px 0px 20px 7px purple;
}

.button-input input
{
  cursor: pointer;
  height: 9vw;
  width: 15vw;
  border: none;
  border-radius: 10px;
  font-size: 4.5vw;
  opacity: 0.8;
  box-shadow: 0px 0px 20px 7px purple;
}

#main-counter-part
{
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  height: 20vw;
  border: 1px solid gray;
  align-items: center;
  background: linear-gradient(to right,#ff4b1f,#1fddff);
}

.counter-part
{
  position: relative;
  height: 10.5vw;
  width: 10.5vw;
  overflow: hidden;
}

.curr,.next
{
  border-top: 1vw solid black;
  background-color: white;
  height: 9.6vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  font-size: 6vw;
}

.next
{
  position: absolute;
  top: 10.5vw;
}

.animate
{
  transition: all 0.5s;
  top: 0px;
}